<div class="outer">
  <form style="width: 100%;" [formGroup]="form" (ngSubmit)="login()">
    <div class="container col-8 col-sm-7 col-md-6 col-lg-3" style="background-color: #f0f2f5; border-radius: 4px;">
      <div class="row">
        <div class="col-12">
          <br>
          <h2>Login</h2>
          <hr>
        </div>
        <div class="col-12">
          <div  *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
        </div>


        <div class="col-12">
          <div class="form-group">
            <label class="font" for="username">Email</label>
            <input formControlName="email" type="email" id="username" class="form-control form-control-custom" autocomplete="email">
            <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
              Please enter a valid email.
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label class="font" for="password">Password</label>
            <input formControlName="password" type="password" id="password" class="form-control form-control-custom" autocomplete="current-password">
            <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger">
              Password is required.
            </div>
          </div>
        </div>
        <div class="col-12" style="margin-top: 20px;">
          <button class="btn btn-custom-register col-12" [disabled]="form.invalid || isLoading" type="submit">
            <ng-container *ngIf="isLoading; else notLoading">Loading...</ng-container>
            <ng-template #notLoading>Login</ng-template>
          </button>
        </div>
        <div class="col-12" style="margin-top: 10px; margin-bottom: 40px;">
          <a routerLink="/security/signup" class="btn btn-custom-login col-12">Create an Account</a>
        </div>
        <br>
      </div>
    </div>
  </form>
</div>
